.my-swiper-button-next,
.my-swiper-button-prev,
.my-swiper-button-next-2,
.my-swiper-button-prev-2 {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 60%;
    transform: translateY(-00%);
    z-index: 10;
    cursor: pointer;
}

.my-swiper-button-next,
.my-swiper-button-next-2 {
    right: -5%;
    background-image: url('/main/right.svg');
}

.my-swiper-button-prev,
.my-swiper-button-prev-2 {
    left: -5%;
    background-image: url('/main/left.svg');
}

.my-swiper-button-next:hover,
.my-swiper-button-prev:hover {
    opacity: 0.8;
}

.my-swiper-button-next:active,
.my-swiper-button-prev:active {
    opacity: 0.6;
}

.swiper-button-lock {
    display: block !important;
}